* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-text {
  display: flex;
}

.logo-svg img {
  height: 60px;
}
.post-header i {
  font-size: 30px;
}
.post-img img {
  height: 700px;
  width: 100%;
}
.post-icon {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.post-icon div i {
  font-size: 30px;
  padding: 10px;
}
.post-body p {
  font-size: 20px;
  margin: 15px;
}
.post-body p span {
    font-weight: bold;
}