* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(16, 16, 16);
}
.post{
  width: 450px;
  height: auto;
  background-color: rgb(255, 255, 255);
  margin-top: 60px;
}
.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-text {
  display: flex;
}

.logo-svg img {
  margin: 10px;
  height: 30px;
}
.post-header i {
  font-size: 25px;
}
.post-img img {
  height: 320px;
  width: 100%;
}
.title-left h3 {
  margin-top: 5px;
  font-size: 15px;
}
.title-left h5 {
  margin-top: 0.2px;
  margin-bottom: 5px;
  font-size: 12px;
}
.Menu-right{
  font-weight: bold;
}
.post-icon {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.post-icon div i {
  font-size: 25px;
  padding: 10px;
}
.post-body p {
  font-size: 15px;
  margin: 17px;
}
.post-body p span {
    font-weight: bold;
}